.Pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: #1b2838;
    overflow: hidden;
}

.button-prev{
    border-radius: 3px;
    background-color: #1A9FFF;
    padding: 1rem 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.button-next{
    border-radius: 3px;
    background-color: #1A9FFF;
    padding: 1rem 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.button-next:hover, .button-prev:hover{
    box-shadow: 5px 5px 5px 6px #6700979c;
    transform: scale(1.15) ;
    transition: 0.2s;
}

