.main-game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;

    background-image: url(multimedia/humo.mp4);
    background-size: cover;
    background-repeat: no-repeat;
}